# Compiled Python files
__pycache__/
*.pyc

# Local development settings
.env

# Dependency directories
venv/
env/
lib/
include/
bin/
share/
python*.egg-info/
dist/
build/
*.egg-info/
*.egg

# Editor/IDE settings
.vscode/
.idea/
*.code-workspace

# Distribution / packaging
*.egg-info/
dist/
build/

# Dependency directories
node_modules

# Prisma
prisma/*
!prisma/schema.prisma


###
marketPrices.json