<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>backtest</title>

        <link
            href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
            rel="stylesheet"
        />

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="p-5">
            <h3>{{marketA.name}} {{marketB.name}}</h3>
        </div>

        <div>
            <canvas id="zscore-chart"></canvas>
        </div>

        <div>
            <canvas id="prices-chart"></canvas>
        </div>

        <div id="backtest-summary"></div>

        <div>
            <div>
                <p>Initial Long Capital</p>

                <p>{{initialLongCapital}}</p>
            </div>

            <div>
                <p>Initial Short Capital</p>

                <p>{{initialShortCapital}}</p>
            </div>

            <div>
                <p>Zscore Threshold</p>

                <p>{{triggerThresh}}</p>
            </div>

            <div>
                <p>Slippage Percent</p>

                <p>{{slippagePercent}}</p>
            </div>
        </div>

        <script>
            const zscoreChartConfig = {{{zscoreChartConfig}}}
            const pricesChartConfig = {{{pricesChartConfig}}}
            const backtestSummmaryGridData = {{{backtestSummmaryGridData}}}

            new Chart(
                document.getElementById('zscore-chart'),
                zscoreChartConfig
            )
            new Chart(
                document.getElementById('prices-chart'),
                pricesChartConfig
            )

            new gridjs.Grid({
                columns: [
                    'Zscore',
                    'Zscore sign',

                    'Long market',
                    'Long market price',
                    'Long market next price',
                    'Trigger',
                    'Long at',
                    'Close long at',
                    'Long return',
                    'Slippage',
                    'Long capital',

                    'Short market',
                    'Short market price',
                    'Short market next price',
                    'Trigger',
                    'Short at',
                    'Close short at',
                    'Short return',
                    'Slippage',
                    'Short capital',
                ],
                pagination: true,
                data: backtestSummmaryGridData,
            }).render(document.getElementById('backtest-summary'))
        </script>
    </body>
</html>
