<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>backtest</title>

        <link
            href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
            rel="stylesheet"
        />

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>

        <style>
            .chart {
                width: 100% !important;
                height: 100% !important;
            }
        </style>
    </head>
    <body>
        <h3 class="text-gray-700 text-center font-semibold p-3">
            {{marketA.name}} {{marketB.name}}
        </h3>

        <div class="flex flex-col lg:flex-row bg-red">
            <div class="flex-1">
                <canvas class="chart" id="zscore-chart"></canvas>
            </div>

            <div class="flex-1">
                <canvas class="chart" id="prices-chart"></canvas>
            </div>
        </div>

        <div id="backtest-summary"></div>

        <div class="m-3 flex gap-5">
            <div class="flex flex-col gap-2">
                <div>
                    <p class="font-bold text-gray-700">Initial Long Capital</p>
                    <p class="text-lg">{{initialLongCapital}}</p>
                </div>

                <div>
                    <p class="font-bold text-gray-700">Initial Short Capital</p>
                    <p class="text-lg">{{initialShortCapital}}</p>
                </div>

                <div>
                    <p class="font-bold text-gray-700">Zscore Threshold</p>
                    <p class="text-lg">{{triggerThresh}}</p>
                </div>

                <div>
                    <p class="font-bold text-gray-700">Slippage Percent</p>
                    <p class="text-lg">{{slippagePercent}}</p>
                </div>

                <div>
                    <p class="font-bold text-gray-700">Long Profit</p>
                    <p class="text-lg">{{longProfit}}</p>
                </div>

                <div>
                    <p class="font-bold text-gray-700">Short Profit</p>
                    <p class="text-lg">{{shortProfit}}</p>
                </div>

                <div>
                    <p class="font-bold text-gray-700">Net Profit</p>
                    <p class="text-lg">{{netProfit}}</p>
                </div>

                <div>
                    <p class="font-bold text-gray-700">ROI</p>
                    <p class="text-lg">{{roi}}</p>
                </div>
            </div>

            <div class="flex flex-col gap-2">
                <div>
                    <p class="font-bold text-gray-700">Win Rate Long</p>
                    <p class="text-lg">{{winRateLong}}</p>
                </div>

                <div>
                    <p class="font-bold text-gray-700">Win Rate Short</p>
                    <p class="text-lg">{{winRateShort}}</p>
                </div>

                <div>
                    <p class="font-bold text-gray-700">Avg Win Rate</p>
                    <p class="text-lg">{{avgWinRate}}</p>
                </div>

                <div>
                    <p class="font-bold text-gray-700">Best Long</p>
                    <p class="text-lg">{{bestLong}}</p>
                </div>

                <div>
                    <p class="font-bold text-gray-700">Best Short</p>
                    <p class="text-lg">{{bestShort}}</p>
                </div>

                <div>
                    <p class="font-bold text-gray-700">Worst Long</p>
                    <p class="text-lg">{{worstLong}}</p>
                </div>

                <div>
                    <p class="font-bold text-gray-700">Worst Short</p>
                    <p class="text-lg">{{worstShort}}</p>
                </div>
            </div>
        </div>

        <script>
            const zscoreChartConfig = {{{zscoreChartConfig}}}
            const pricesChartConfig = {{{pricesChartConfig}}}
            const backtestSummmaryGridData = {{{backtestSummmaryGridData}}}

            new Chart(
                document.getElementById('zscore-chart'),
                zscoreChartConfig
            )
            new Chart(
                document.getElementById('prices-chart'),
                pricesChartConfig
            )

            new gridjs.Grid({
                columns: [
                    'Zscore',
                    'Zscore sign',

                    'Long market',
                    'Long market price',
                    'Long market next price',
                    'Trigger',
                    'Long at',
                    'Close long at',
                    'Long return',
                    'Slippage',
                    'Long capital',

                    'Short market',
                    'Short market price',
                    'Short market next price',
                    'Trigger',
                    'Short at',
                    'Close short at',
                    'Short return',
                    'Slippage',
                    'Short capital',
                ],
                pagination: true,
                resizable: true,
                data: backtestSummmaryGridData,
            }).render(document.getElementById('backtest-summary'))
        </script>
    </body>
</html>
